#start{
    background-color: #F9F7F3;
}
.navbar-center
{
    display: flex;
    padding: 2px;
}
.navbar-center>img{
    padding-right:10px ;
}
#btn-blog{
   background-color: rgba(180, 244, 97, 1);
   padding: 5px 30px;
    margin-left: 70px;
}
.navbar-end >ul{
    display: flex;

}
.navbar-end >ul>li{
    margin-right: 5px;
}
.navbar-end-design{
    display: flex;
    margin: 10px;
width:auto;
font-weight: 600;
margin-right: 50px;

}

.second{
    display: flex;

    justify-content: center;
    margin-top: 80px;
}
.card-1{
    display: flex;
    margin: 10px;
    width:auto;
    font-weight: 700;
    

}
ul>li{
    
    margin: 2px;
    text-align: justify;
}
.noakhali{
    margin: 10px;
}
#border{
    width: 1300px; height:50px;
    padding: 100px 50px 50px 100px; 
    border:1px  solid black ;
    box-shadow: #3c3932;
}
#btn-last{
    background-color: rgba(180, 244, 97, 1);
    padding-inline: 320px;
    font-weight: bold;
}