#start{
    background-color: #F9F7F3;
}
.navbar-center
{
    display: flex;
    padding: 2px;
}
.navbar-center>img{
    padding-right:10px ;
}
#btn-blog{
   background-color: rgba(180, 244, 97, 1);
   padding: 5px 30px;
    margin-left: 70px;
}
.navbar-end >ul{
    display: flex;

}
.navbar-end >ul>li{
    margin-right: 5px;
}
.navbar-end-design{
    display: flex;
    margin: 10px;
width:auto;
font-weight: 600;
margin-right: 50px;

}

.second{
    display: flex;

    justify-content: center;
    margin-top: 10px;
}
.card-1{
    background-color: white;
    box-shadow: #8e8989;
    display: flex;
    font-weight: 700;
    

}
ul>li{
    
    margin: 2px;
    text-align: justify;
}
#noakhali{
    margin: 10px;
    height: 320px;
}
#border{
    width: 1300px; 
    padding: 0px; 
    background-origin: padding-box;
}
#btn-last{
    background-color: rgba(180, 244, 97, 1);
    padding-inline: 370px;
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.close-btn{
   padding: 5px 120px;
        margin-right: 40px;
}
#important-faq{
    margin-left: 30px;
}
.faq{
    margin: 20px;
    padding-bottom: 30px;
}
@media screen {
    .nav{
        background-color: black;
    }
}